body
{
	font-family: courier, serif
}

A:hover {
	text-decoration:underline;color:#999999;
}

A:link {
	text-decoration:none;color:#0000cc;
}

A:visited {
	text-decoration:none;color:#ffcc33;
}

A:active {
	text-decoration:none;color:#ff0000;
}

img {
	border:0;
}